* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  list-style: none;
  text-decoration: none;
  /* border: solid; */
}

#container {
  width: 100%;
}

#header, #row1, #row4 {
  width: 85%;
  margin: auto;
}

#row2, #row3 {
  width: 75%;
  margin: auto;
}

#header {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
}

#header h1 {
  font-size: 15px;
  font-weight: bold;
}

#header ul {
  display: flex;
  gap: 20px;
  
}

.blue {
  background-color: #1f2937;
  color: white;
}

.blue a {
  color: white;
}

.grey {
  background-color: #E5E7EB;
}

#row1 {
  padding: 40px;
  display: flex;
}

#left1 {
  width: 70%;
}

#left1 h1 {
  font-size: 48px;
  font-weight: bolder;
}

#left1 p{
   font-size: 15px;
   padding: 20px 0;
}

button {
  background-color: #3882F6;
  padding: 5px 10px;
  border-radius: 20px;
  color: white;
}

#row2 {
  padding: 20px;
}

#row2 h1 {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

#images {
  display: flex;
  text-align: center;
}