* {
  margin: 0;
  padding: 0;
}

#container {
  width: 300px;
  border: solid black;
}

button {
  width: 17%;
  background-color: black;
  color: white;
  margin: 10px;
  padding: 10px 0;
  font-size: 20px;
}

#display {
  /* border: solid black; */
  max-width: 225px;
  height: 50px;
  font-size: 40px;
}

