* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  list-style: none;
  text-decoration: none;
  /* border: solid; */
}

#container {
  width: 100%;
}

#header, #row1, #row4 {
  width: 85%;
  margin: auto;
}

#row2, #row3 {
  width: 75%;
  margin: auto;

}

#header {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
}

#header h1 {
  font-size: 15px;
  font-weight: bold;
}

#header ul {
  display: flex;
  gap: 20px;
  
}

.blue {
  background-color: #1f2937;
  color: white;
}

.blue a {
  color: white;
}

.grey {
  background-color: #E5E7EB;
}